In [10]:
import numpy as np
import pandas as pd
import DSUtils as dsu

In [21]:
df = pd.DataFrame(
    {
        "A": [1, 2, 3, 4, 5],
        "B": ["a", "b", "c", "d", "e"],
        "C": [3, "b", 5, "d", 7],
        "D": [1.0, 2.0, np.nan, 4.0, 5.0],
    }
)

In [22]:
overview = dsu.data.data_overview(df)
overview

  Sample  Count uniques    dtype  Count missing  Pct. missing
A      1              5    int64              0           0.0
B      a              5   object              0           0.0
C      3              5   object              0           0.0
D    1.0              4  float64              1          20.0

In [31]:
overview["dtype"].tolist()

[dtype('int64'), dtype('O'), dtype('O'), dtype('float64')]

In [42]:
dsu.data.missing_data(df)["Percent"].tolist()

[20.0, 0.0, 0.0, 0.0]

In [45]:
dsu.data.reduce_mem_usage(df)

Mem. usage decreased to  0.00 Mb (0.0% reduction)

   A  B  C    D
0  1  a  3  1.0
1  2  b  b  2.0
2  3  c  5  NaN
3  4  d  d  4.0
4  5  e  7  5.0